/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Add Styles Here */

body{
    width:960px;
    height:auto;
    background-color: red;
    -webkit-animation:change 1s infinite; /* Safari and Chrome */
    
}


/* Define the keyframe */
@-webkit-keyframes change {
   0% {background-color:red; }
   50% {background-color:yellow; }
   100% {background-color:blue; }
}



.superman{
    position: absolute;
    top:30%;
    left:30%;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    -moz-transition: -webkit-transform 2s ease-in-out;
    -ms-transition: -webkit-transform 2s ease-in-out;
    -o-transition: -webkit-transform 2s ease-in-out;
}


.superman:hover{
    -webkit-transform: rotate(10turn) scale(2);
    -moz-transform: rotate(10turn) scale(2);
    -ms-transform: rotate(10turn) scale(2);
    -o-transform: rotate(10turn) scale(2);

}


/* Define the keyframe */
@-webkit-keyframes slide {
   0% { -webkit-transform: translate(0px, 0px,); }
   20% { -webkit-transform: translate(200px, 300px); }
   40% { -webkit-transform: translate(-310px, -50px) scale(2);}
   50% { -webkit-transform: translate(110px, 200px) rotate(-180); }
   60% { -webkit-transform: translate(800px, -90px) rotate(180deg); }
   80%  { -webkit-transform: translate(225px, 600px) rotate(-180deg); }
   100% {  -webkit-transform: translate(450px, 0); }
}

/* This is the element that we apply the animation to. */
.superman {
   -webkit-animation-name: slide;
   -webkit-animation-duration: 5s;
   -webkit-animation-timing-function: ease; /* default ease, (also: linear) */
   -webkit-animation-delay: 1s;             /* default 0 */
   -webkit-animation-iteration-count: infinite;    /* default 1 (also: infinite) */
   -webkit-animation-direction: alternate;  /* default normal */
}







.diamond {
    border-style: solid;
    border-color: transparent transparent red transparent;
    border-width: 0 45px 50px 45px;
    height: 0;
    width: 230px;
    left:3px;
    top:5px;
    position: relative;
    margin: 0px 0 0px 0px;
}
.diamond:after {
    content: "";
    position: absolute;
    top: 50px;
    left: -45px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: red transparent transparent transparent;
    border-width: 180px 160px 0px 160px;
}

.triangle{
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid yellow;
        position:absolute;
       	top:175px;
        left:128px;
        z-index:1;
}
.triangle:after{
	content:"";
	width:70px;
        height:20px;
        border-radius:100%;
        background-color:red;
	top:-46px;
        left:-35px;
        position:absolute;
        }

.bottoms{
	width:110px;
        height:35px;
        border-radius:100%;
        background-color:yellow;
	position:absolute;
        top:120px;
        left:105px;
        z-index:2;
        }
.bottoms:before{
	content:"";
        width: 0;
	height:0;
	border-left: 35px solid transparent;
	border-right: 25px solid transparent;
	border-top: 35px solid yellow;
        position:absolute;
       	top:-3px;
        left:-25px;
        
        }
        
.bottomscircle{
	width:40px;
        height:30px;
        background-color:red;
        border-radius:100%;
        position:absolute;
        top:144px;
        left:110px;
        z-index:3;
        
        }
.bottomscircle:after{
	content:"";
	width:130px;
        height:28px;
        background-color:red;
        border-radius:100%;
        position:absolute;
        top:-50px;
        left:-45px;
        z-index:3;	
}

.leftpart{
    border-style: solid;
    border-color: transparent transparent yellow transparent;
    border-width: 0 20px 38px 33px;
    height: 0px;
    top:20px;
    left:25px;
    width: 23px;
    position: absolute;
    margin: 0px 0 0px 0px;
}
.leftpart:after {
    content: "";
    position: absolute;
    top: 38px;
    left: -32px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: yellow transparent transparent transparent;
    border-width: 25px 30px 0px 25px;
}

.leftpart:before{
	content:"";
        width:100px;
        height:110px;
        top:-4px;
        left:-7px;
        background-color:red;
        position:absolute;
        border-radius:100%;
        z-index:1;
        
}

.topcircle{
	width:140px;
        height:60px;
        background-color:yellow;
        border-radius:200px 250px 10px 90px;
        position:absolute;
        top:20px;
        left:90px;
        z-index:5;
}

.righttriangle{
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-bottom:40px solid yellow;
	position: absolute;
	top: -10px;
        left:240px;
        z-index:6;
}
.righttriangle:after {
	content: '';
	position: absolute;
	left: -70px;
	top: 40px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: yellow;
        z-index:7;
}

.square{
	width:45px;
        height:40px;
        background-color:red;
        position:absolute;
        left:230px;
	top:20px;
        z-index:8;
        }

.smalltriangle{
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top:17px solid yellow;
	position: absolute;
	top: 24px;
        left:233px;
        z-index:9;	

}


.scurve{
	width:110px;
        height:40px;
        background-color:red;
        border-radius:100% 100% 100% 0%;
        position:absolute;
        top:79px;
        left:150px;
        z-index:9;	

}